{% extends 'base.html.twig' %}

{% block title %}Hello FilmController!{% endblock %}

{% block content %}
<h1>Recherche film</h1>

{{form(form, {attr: {id: "searchForm"}})}}



{% endblock %}


{% block js %}
    <script>
        $(function() {

            $('#form_submit').click(function(e) {
                e.preventDefault();

                let data = $('#searchForm').serialize(); // serialize : mettre en chaine de charactères
                // let data = new FormData(form.serialize());
                console.log(data);

                $.ajax({
                    url: '/film/search/response',
                    data: data,
                    type: 'post',
                    dataType: 'json',
                    beforeSend: function(){

                    },
                    success: function(json){ // si code html 200
                        console.log(json); 
                    },
                    error: function(a,z,e){ // si code html 404, 401, ...
           
                    }
                })
            })

        });
    </script>
  {% endblock %}
