{% extends 'base.html.twig' %}

{% block title %}Hello PhotoController!{% endblock %}

{% block content %}
    <h1>Photos</h1>
    <div class="container-fluid">
        <div class="row">

            {% for photo in photos %}
            <div class="col-3">

                <img src="{{photo.download_url}}" class="img-thumbnail" alt="">
            </div>
            {% endfor %}
            
        </div>
    </div>
{% endblock %}
