{% extends 'base.html.twig' %}

{% block title %}Ajout de contact !{% endblock %}

{% block content %}

<div class="container-fluid ">
    
   <div class="row">
        <div class="col-12">
            <form action="{{path('contact_add')}}" method="post">
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" name="name" >
                </div>
                <div class="mb-3">
                  <label for="firstname" class="form-label">firstname</label>
                  <input type="text" class="form-control" name="firstname" >
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" name="sanitaryPass">
                  <label class="form-check-label" for="sanitaryPass">sanitaryPass</label>
                </div>
                <button  class="btn btn-primary">Submit</button>
              </form>
        </div>
   </div>
</div>

{% endblock %}
