{% extends 'base.html.twig' %}

{% block title %}Detail de contact !{% endblock %}

{% block content %}

<h1>element supprimer</h1>
<a href="{{path('contact_list')}}" class="btn btn-info"> retour</a>
{% endblock %}
